.about-us {
    &__inner {        
        padding: 70px 0;

        @include mobile {
            padding: 30px 0;
        }
    }

    &__title {
        text-align: center;
        font-weight: 700;
        text-transform: capitalize;
        font-size: 30px;
        line-height: 36px;
        color: $secondary-color; 
    }

    &__list {
        margin-top: 50px;
        display: flex;

        @include mobile {
            flex-direction: column;
        }
    }

    &__item {
        padding: 20px;
        width: 33.333%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-left: 1px solid $secondary-color;

        &:last-child {
            border-right: 1px solid $secondary-color;
        }

        @include mobile {
            width: 100%;
            border-right: 1px solid $secondary-color;
        }

    }

    &__icon {
        stroke: $secondary-color;
        width: 30px;
        height: 30px;
    }

    &__phone {
        margin-top: 10px;
    }

    &__place {
        width: 70%;
        text-align: center;
        line-height: 20px;
    }

    &__bottom {
        margin-top: 50px;
        display: flex;

        @include tablet-and-mobile {
            flex-direction: column;
            align-items: center;
        }

    }

    &__desc {
        padding: 30px;
        flex-basis: 50%;
    }

    &__map {
        width: 50%;


        @include tablet-and-mobile {
            width: 100%;
            padding-bottom: 60%;
            position: relative;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    &__cell {
        width: 50px;
        height: 50px;
        border: 2px solid $secondary-color;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:first-child {
            margin-right: 20px;
        }

        &:hover {
            opacity: .8;
        }
    }

    &__items {
        display: flex;        
    }

    &__wrapper-time {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    &__time {
        margin-top: 10px;
        line-height: 20px;
    }


}