.contacts {
  padding: 70px 0;

  @include mobile {
    padding: 30px 0;
}

  &__inner {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 30px;
    line-height: 36px;
    color: $secondary-color;
  }

  &__subtitle {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #333;
    line-height: 28px;
  }
}
