.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;   
    background-color: transparent;
    transition: all .4s ease; 
    z-index: 9;

    &.active {
        background-color: #F1EBF1;
        
        .header {
            &__link {
                color: $btn-color;
                text-shadow: none;
            }
        }
    }

    &__inner {       
        padding: 25px 0; 
        display: flex;
        justify-content: space-between; 
        align-items: center;       
    }

    &__img {
        width: 120px;
        color: $primary-color;
    }

    &__list {
        display: flex;
    }

    &__item {
        &:not(:first-child) {
            margin-left: 60px;
        }        
    }

    &__link {
        color: $primary-color;
        font-size: 19px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

        &:hover {
            opacity: .8;
        }
    }
}